@model IEnumerable<QLSV.Models.Khachhang>
@{
    ViewData["Title"] = "Home Page";
}
@*<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Ma_kh</td>
            <td>Mã KH</td>
            <td>Tên</td>
            <td>Địa chỉ</td>
            <td>Mã số thuế</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var khachhang in Model)
        {
            <tr>
                <td>@khachhang.ma_kh</td>
                <td>@khachhang.ma</td>
                <td>@khachhang.ten</td>
                <td>@khachhang.dia_chi</td>
                <td>@khachhang.ma_gtgt</td>
            </tr>
        }
    </tbody>
</table>*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/css/bootstrap.min.css">
    <title>Bootstrap Table</title>
</head>
<body>
    <div class="container">
        <h1>Danh sách sinh </h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Mã KH</th>
                    <th class="text-center">Tên</th>
                    <th class="text-center">Địa chỉ</th>
                    <th class="text-center">Mã số thuế</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var khachhang in Model)
                {
                    <tr>
                        <td class="text-center">@khachhang.ma_kh</td>
                        <td class="text-center">@khachhang.ma</td>
                        <td class="text-center">@khachhang.ten</td>
                        <td class="text-center">@khachhang.dia_chi</td>
                        <td class="text-center">@khachhang.ma_gtgt</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Đường dẫn đến JavaScript của Bootstrap (nếu cần) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/js/bootstrap.min.js"></script>
</body>
</html>