@using X.PagedList.Mvc.Core
@using Microsoft.EntityFrameworkCore
@model IEnumerable<QLSV.Models.Khachhang>
@* @model IPagedList<QLSV.Models.Khachhang> *@

@{
    ViewData["Title"] = "Danh sách Khách hàng";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    @* <!-- Font Awesome --> *@
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    @* <!-- MDB --> *@
    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
        rel="stylesheet"
    />
    <!-- MDB -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"
    ></script>
    <title>Bootstrap Table</title>
    <style>
        .page-item {
        padding:  0 15px;
        }
        .page-item.active {
            background-color: orangered;
            color:  #fff;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Danh sách Khách hàng</h1>
        </div>
        <div class="col-md-4">
            @using (Html.BeginForm("Search", "Khachhang", FormMethod.Post))
            {
                <div class="input-group">
                    <input type="text" name="searchTerm" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                    <button type="submit" class="btn btn-outline-primary">Tìm kiếm</button>
                </div>
                
                @* <div class="input-group"> *@
                @*     <div class="form-outline"> *@
                @*         <input type="search" id="form1" class="form-control" /> *@
                @*         <label class="form-label" for="form1">Search</label> *@
                @*     </div> *@
                @*     <button type="button" class="btn btn-primary"> *@
                @*         <i class="fas fa-search"></i> *@
                @*     </button> *@
                @* </div> *@
            }
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="text-center bg-primary">ID</th>
            <th class="text-center bg-danger">Mã KH</th>
            <th class="text-center bg-success">Tên</th>
            <th class="text-center bg-warning">Địa chỉ</th>
            <th class="text-center bg-info">Mã số thuế</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var khachhang in Model)
        {
            <tr>
                <td class="text-center" style="vertical-align: middle ;">@khachhang.ma_kh</td>
                <td class="text-center" style="vertical-align: middle ;">@khachhang.ma</td>
                <td class="text-center" style="vertical-align: middle ;">@khachhang.ten</td>
                <td class="text-center" style="vertical-align: middle ;">@khachhang.dia_chi</td>
                <td class="text-center" style="vertical-align: middle ;">@khachhang.ma_gtgt</td>
                <td class="pt-3 pb-3 pe-0 ps-0" style="vertical-align: middle">
                    <div class="row">
                        <div class="col-md-5">
                            <button
                                type="button"
                                @* class="btn btn-link btn-rounded btn-sm fw-bold" *@
                                class="btn btn-success btn-rounded btn-sm fw-bold"
                                data-mdb-ripple-color="dark" onclick="return confirm('Are you sure you want to delete this record?')">
                                Add
                            </button>
                        </div>
                        <div class="col-md-5">
                            <button
                                type="button"
                                @* class="btn btn-link btn-rounded btn-sm fw-bold" *@
                                class="btn btn-success btn-rounded btn-sm fw-bold"
                                data-mdb-ripple-color="dark">
                                Edit
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
        
    <!-- Phân trang -->
    @* <div class="text-center" style="vertical-align: middle ;"> *@
        <ul class="pagination" style="justify-content: center">
            @Html.PagedListPager((X.PagedList.IPagedList)Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
            {
                Display = PagedListDisplayMode.IfNeeded,
                DisplayPageCountAndCurrentLocation = false,
                LiElementClasses = new string[] { "page-item" },
                PageCountAndCurrentLocationFormat = "{0} of {1}"
            })
        </ul>
    @* </div> *@
</div>

<!-- Đường dẫn đến JavaScript của Bootstrap (nếu cần) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/js/bootstrap.min.js"></script>

</body>
</html>
